@import "tailwindcss";

.background {
  background-image: url("/background.jpg");
  background-size: contain;
  background-repeat: repeat-x;
}

.stripes {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.diagonal {
  background-color: #113311;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23242' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23242' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.capitalization {
  background-image: url("/capitalization.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.punctuation {
  background-image: url("/punctuation.png");
  background-size: contain;
  background-repeat: repeat-x;
}
.spelling {
  background-image: url("/spelling.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.overview {
  background-image: url("/overview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
