@import "tailwindcss";

@font-face {
  font-family: "Arco";
  src: local("ARCO"), url("./assets/fonts/ARCO.ttf");
}

@keyframes moveBg {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.background {
  background-image: url("/background.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: moveBg 30s linear infinite;
}

.stripes {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.diagonal {
  background-color: #113311;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23242' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23242' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.capitalization {
  background-image: url("/capitalization.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: moveBg 30s linear infinite;
}

.punctuation {
  background-image: url("/punctuation.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: moveBg 30s linear infinite;
}
.spelling {
  background-image: url("/spelling.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: moveBg 30s linear infinite;
}

.overview {
  background-image: url("/overview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.outlined-text {
  color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 4px white;
}
